<!DOCTYPE html>
<html lang="en">

<head>
	<title>Minishop - Free Bootstrap 4 Template by Colorlib</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">

	<link rel="stylesheet" href="/css/open-iconic-bootstrap.min.css">
	<link rel="stylesheet" href="/css/animate.css">

	<link rel="stylesheet" href="/css/owl.carousel.min.css">
	<link rel="stylesheet" href="/css/owl.theme.default.min.css">
	<link rel="stylesheet" href="/css/magnific-popup.css">

	<link rel="stylesheet" href="/css/aos.css">

	<link rel="stylesheet" href="/css/ionicons.min.css">

	<link rel="stylesheet" href="/css/bootstrap-datepicker.css">
	<link rel="stylesheet" href="/css/jquery.timepicker.css">


	<link rel="stylesheet" href="/css/flaticon.css">
	<link rel="stylesheet" href="/css/icomoon.css">
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/styles.css">
</head>

<body class="goto-here">
	<div class="py-1 bg-black">
		<div class="container">
			<div class="row no-gutters d-flex align-items-start align-items-center px-md-0">
				<div class="col-lg-12 d-block">
					<div class="row d-flex">
						<div class="col-md pr-4 d-flex topper align-items-center">
							<div class="icon mr-2 d-flex justify-content-center align-items-center"><span
									class="icon-phone2"></span></div>
							<span class="text">+ 1235 2355 98</span>
						</div>
						<div class="col-md pr-4 d-flex topper align-items-center">
							<div class="icon mr-2 d-flex justify-content-center align-items-center">
								<span class="icon-paper-plane"></span>
							</div>
							<span class="text">nikeshop@email.com</span>
						</div>
						<div class="col-md-5 pr-4 d-flex topper align-items-center text-lg-right">
							<span class="text">Trả hàng - Hoàn tiền trong vòng 3 đến 5 ngày</span>
						</div>

						<% if (user.loggedIn==false) { %>
							<div class="col-md pr-4 d-flex topper align-items-center">
								<span class="text"><a href="/login" style="font-weight: 700;">Đăng nhập</a></span>
								<span class="text"><a href="/register" style="font-weight: 700;">Đăng ký</a></span>
							</div>
							<% } %>
					</div>
				</div>
			</div>
		</div>
	</div>

	<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
		<div class="container">
			<a class="navbar-brand" href="/WebBanGiay"><img src="/images/logo.png"
					style="width: 100px; height: 40px;"></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
				aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="oi oi-menu">Trang chủ</span>
			</button>

			<div class="collapse navbar-collapse" id="ftco-nav">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active"><a href="/WebBanGiay" class="nav-link">Trang chủ</a></li>
					<li class="nav-item active"><a href="/WebBanGiay/products" class="nav-link">Sản phẩm</a></li>
					<li class="nav-item active"><a href="blog.html" class="nav-link">Blog giày</a></li>
					<li class="nav-item active"><a href="" class="nav-link">Hỗ trợ khách hàng</a></li>
					<li class="nav-item dropdown active">
						<a class="nav-link dropdown-toggle" href="chinhsach_dichvu.html" id="dropdown04"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Chính sách - Dịch vụ</a>
						<div class="dropdown-menu dropdown-menu-l" aria-labelledby="dropdown04">
							<a class="dropdown-item" href="">Chính sách đổi trả</a>
							<a class="dropdown-item" href="">Chính sách bảo hành</a>
							<a class="dropdown-item" href="">Chính sách thanh toán</a>
							<a class="dropdown-item" href="">Chính sách vận chuyển</a>
						</div>
					<li class="nav-item">
						<a href="/WebBanGiay/cart" class="nav-link active">
							<span class="icon-shopping_cart"></span>[<%=count%>]
						</a>
					</li>
					<% if (user.loggedIn) { %>
						<li class="nav-item dropdown active">
							<a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown"
								aria-haspopup="true" aria-expanded="false"><img class="img-avt"
									src="/images/person_2.jpg"></a>
							</a>
							<div class="dropdown-menu" aria-labelledby="dropdown04">
								<a class="dropdown-item" href="">Tài khoản</a>
								<a class="dropdown-item" href="order.html">Đơn mua</a>
								<% if (user.role==='admin' ) { %>
									<a class="dropdown-item" href="/admin">Đi đến trang quản lý</a>
									<% } %>
										<a class="dropdown-item" href="/logout">Đăng xuất</a>
							</div>
						</li>
						<% } %>
				</ul>
			</div>
		</div>
	</nav>
	<!-- END nav -->

	<div class="hero-wrap hero-bread" style="background-image: url('/images/bg_6.jpg');">
		<div class="container">
			<div class="row no-gutters slider-text align-items-center justify-content-center">
				<div class="col-md-9 ftco-animate text-center">
					<p class="breadcrumbs"><span class="mr-2"><a href="index.html"></a></span> <span>Giỏ Hàng</span></p>
					<h1 class="mb-0 bread">Giỏ hàng của tôi</h1>
				</div>
			</div>
		</div>
	</div>

	<section class="ftco-section ftco-cart">
		<div class="container">
			<div class="row">
				<div class="ct-left">
					<table class="tb">
						<thead>
							<tr class="text-center">
								<th>&nbsp;</th>
								<th>&nbsp;</th>
								<th>Tên sản phẩm</th>
								<th>Giá</th>
								<th>Số lượng</th>
								<th>Tổng tiền</th>
							</tr>
						</thead>
						<tbody>
							<% if (cartItems && cartItems.length> 0) { %>
								<% cartItems.forEach(item=> { %>
									<tr class="text-center" id="cart-item-<%= item.productId %>">
										<td class="xoa">
											<a href="/WebBanGiay/cart/remove/<%= item.productId %>"
												class="btn btn-danger btn-sm">X</a>
										</td>

										<td class="anhsp">
											<img src="/images/<%= item.image %>" alt="/images/<%= item.name %>"
												style="width: auto; height: auto;">
										</td>
										<td class="tensp">
											<h5>
												<%= item.name %>
											</h5>
											<p class="text-muted">Mô tả: Giày thể thao...</p>
										</td>
										<td class="gia">
											<%= item.price.toLocaleString() %> đ
										</td>
										<td class="soluong">
											<input type="number" class="form-control text-center"
												value="<%= item.purchaseQuantity %>" min="1"
												data-product-id="<%= item.productId %>" onchange="updateQuantity(this)"
												oninput="updateQuantity(this)">
										</td>
										<td class="tongtien" id="total-<%= item.productId %>">
											<%= (item.price * item.purchaseQuantity).toLocaleString() %> đ
										</td>
									</tr>
									<% }) %>
										<% } else { %>
											<tr>
												<td colspan="6" class="text-center">Giỏ hàng của bạn hiện đang trống
												</td>
											</tr>
											<% } %>
						</tbody>
					</table>
				</div>

				<div class="ct-right">
					<div class="sidebar-box">
						<div class="cart-total mb-3">
							<h3>Hóa đơn</h3>
							<div class="cart-total">
								<p class="d-flex justify-content-between">
									<span>Tổng tiền:</span>
									<span id="total-cart">
										<%= total.toLocaleString() %> đ
									</span>
								</p>
								<p class="d-flex justify-content-between">
									<span>Phí vận chuyển:</span>
									<span>0 đ</span>
								</p>
								<p class="d-flex justify-content-between">
									<span>Mã khuyến mãi:</span>
									<span>0 đ</span>
								</p>
								<hr>
								<p class="d-flex justify-content-between font-weight-bold">
									<span>Thành tiền:</span>
									<span id="total-payment">
										<%= total.toLocaleString() %> đ
									</span>
								</p>
							</div>
							<p class="text-center">
								<a href="/checkout" class="btn btn-primary py-3 px-4">Đặt hàng</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>



	<footer class="ftco-footer ftco-section">
		<div class="container">
			<div class="row">
				<div class="mouse">
					<a href="#" class="mouse-icon">
						<div class="mouse-wheel"><span class="ion-ios-arrow-up"></span></div>
					</a>
				</div>
			</div>
			<div class="row mb-5">
				<div class="col-md">
					<div class="ftco-footer-widget mb-4">
						<h2 class="ftco-heading-2">Nike</h2>
						<p>Mang đến trải nghiệm mua sắm tuyệt vời nhất đến với người tiêu dùng.</p>
						<ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
							<li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
							<li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
							<li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
						</ul>
					</div>
				</div>
				<div class="col-md">
					<div class="ftco-footer-widget mb-4 ml-md-5">
						<h2 class="ftco-heading-2">Hỗ trợ khách hàng</h2>
						<ul class="list-unstyled">
							<li><a href="#" class="py-2 d-block">Hướng dẫn mua hàng</a></li>
							<li><a href="#" class="py-2 d-block">Giao nhận và thanh toán</a></li>
							<li><a href="#" class="py-2 d-block">Đổi tar và bảo hành</a></li>
							<li><a href="#" class="py-2 d-block">Tra cứu đơn hàng</a></li>
							<li><a href="#" class="py-2 d-block">Đăng ký khách thành viên</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md">
					<div class="ftco-footer-widget mb-4 ml-md-5">
						<h2 class="ftco-heading-2">Chính sách - Dịch vụ</h2>
						<div class="d-flex">
							<ul class="list-unstyled mr-l-5 pr-l-3 mr-4">
								<li><a href="#" class="py-2 d-block">Chăm sóc khách hàng</a></li>
								<li><a href="#" class="py-2 d-block">Chính sách đổi hàng</a></li>
								<li><a href="#" class="py-2 d-block">Chính sách bảo hành</a></li>
								<li><a href="#" class="py-2 d-block">Chính sách thanh toán</a></li>
								<li><a href="#" class="py-2 d-block">Chính sách vận chuyển</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md">
					<div class="ftco-footer-widget mb-4">
						<h2 class="ftco-heading-2">Liên hệ trực tiếp qua</h2>
						<div class="block-23 mb-3">
							<ul>
								<li><span class="icon icon-map-marker"></span><span class="text">!123 Điện Biên Phủ - Đà
										Nẵng</span></li>
								<li><a href="#"><span class="icon icon-phone"></span><span class="text">+12 345 678
											910</span></a></li>
								<li><a href="#"><span class="icon icon-envelope"></span><span
											class="text">minishop@gmail.com</span></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 text-center">

					<p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						Copyright &copy;
						<script>document.write(new Date().getFullYear());</script> All rights reserved | This template
						is made with <i class="icon-heart color-danger" aria-hidden="true"></i> by <a
							href="https://colorlib.com" target="_blank">Colorlib</a>
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
					</p>
				</div>
			</div>
		</div>
	</footer>



	<!-- loader -->
	<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
			<circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
			<circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
				stroke="#F96D00" />
		</svg></div>


	<script src="/js/jquery.min.js"></script>
	<script src="/js/jquery-migrate-3.0.1.min.js"></script>
	<script src="/js/popper.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/jquery.easing.1.3.js"></script>
	<script src="/js/jquery.waypoints.min.js"></script>
	<script src="/js/jquery.stellar.min.js"></script>
	<script src="/js/owl.carousel.min.js"></script>
	<script src="/js/jquery.magnific-popup.min.js"></script>
	<script src="/js/aos.js"></script>
	<script src="/js/jquery.animateNumber.min.js"></script>
	<script src="/js/bootstrap-datepicker.js"></script>
	<script src="/js/scrollax.min.js"></script>
	<script
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
	<script src="/js/google-map.js"></script>
	<script src="/js/main.js"></script>

	<script>
		// Hàm định dạng số tiền với dấu "." phân cách
		// function formatCurrency(amount) {
		// 	return amount.toLocaleString('vi-VN', {
		// 		style: 'currency',
		// 		currency: 'VND',
		// 		minimumFractionDigits: 0, // Hiển thị 2 chữ số thập phân
		// 	}).replace(/,/g, '.'); // Thay dấu "," thành "."
		// }

		// Hàm cập nhật số lượng và tính lại tổng tiền cho sản phẩm
		function updateQuantity(input) {
			const quantity = parseInt(input.value);
			const productId = input.getAttribute('data-product-id');

			// Kiểm tra nếu giá trị số lượng hợp lệ
			if (isNaN(quantity) || quantity < 1) {
				input.value = 1; // Đảm bảo số lượng tối thiểu là 1
				return;
			}

			// Lấy giá của sản phẩm từ thẻ td
			const price = parseFloat(document.querySelector(`#cart-item-${productId} .gia`).innerText.replace(' VNĐ', '').replace(/\./g, '').replace(',', '.'));

			// Tính lại tổng tiền cho sản phẩm này
			const newTotal = price * quantity;

			// Cập nhật tổng tiền của sản phẩm trong giỏ hàng
			document.querySelector(`#total-${productId}`).innerText = formatCurrency(newTotal);

			// Cập nhật tổng tiền giỏ hàng
			updateCartTotal();
		}

		// Hàm cập nhật tổng tiền giỏ hàng
		function updateCartTotal() {
			let total = 0;

			// Duyệt qua tất cả các sản phẩm trong giỏ hàng và cộng tổng tiền
			const totalElements = document.querySelectorAll('.tongtien');
			totalElements.forEach(element => {
				total += parseFloat(element.innerText.replace(' VNĐ', '').replace(/\./g, '').replace(',', '.'));
			});

			// Cập nhật tổng tiền giỏ hàng và tổng tiền thanh toán
			document.querySelector('#total-cart').innerText = formatCurrency(total);
			document.querySelector('#total-payment').innerText = formatCurrency(total);
		}

		// Hàm tăng số lượng khi click vào nút "+"
		$(document).ready(function () {
			$('.quantity-right-plus').click(function (e) {
				e.preventDefault();

				// Lấy input số lượng
				var input = $(this).closest('.quantity-container').find('input');
				var quantity = parseInt(input.val());

				// Tăng số lượng và cập nhật lại
				input.val(quantity + 1);

				// Gọi hàm updateQuantity để tính lại tổng tiền
				updateQuantity(input[0]);
			});

			// Hàm giảm số lượng khi click vào nút "-"
			$('.quantity-left-minus').click(function (e) {
				e.preventDefault();

				// Lấy input số lượng
				var input = $(this).closest('.quantity-container').find('input');
				var quantity = parseInt(input.val());

				// Giảm số lượng nếu lớn hơn 1
				if (quantity > 1) {
					input.val(quantity - 1);
				}

				// Gọi hàm updateQuantity để tính lại tổng tiền
				updateQuantity(input[0]);
			});
		});
	</script>



</body>

</html>