<!DOCTYPE html>
<html lang="en">

<head>
	<title>Minishop - Template by Colorlib</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">

	<link rel="stylesheet" href="css/open-iconic-bootstrap.min.css">
	<link rel="stylesheet" href="css/animate.css">
	<link rel="stylesheet" href="css/all.min.css">


	<link rel="stylesheet" href="css/owl.carousel.min.css">
	<link rel="stylesheet" href="css/owl.theme.default.min.css">
	<link rel="stylesheet" href="css/magnific-popup.css">

	<link rel="stylesheet" href="css/aos.css">

	<link rel="stylesheet" href="css/ionicons.min.css">

	<link rel="stylesheet" href="css/bootstrap-datepicker.css">
	<link rel="stylesheet" href="css/jquery.timepicker.css">


	<link rel="stylesheet" href="css/flaticon.css">
	<link rel="stylesheet" href="css/icomoon.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/styles.css">

</head>

<body class="goto-here">
	<div class="py-1 bg-black">
		<div class="container">
			<div class="row no-gutters d-flex align-items-start align-items-center px-md-0">
				<div class="col-lg-12 d-block">
					<div class="row d-flex">
						<div class="col-md pr-4 d-flex topper align-items-center">
							<div class="icon mr-2 d-flex justify-content-center align-items-center"><span
									class="icon-phone2"></span></div>
							<span class="text">+ 1235 2355 98</span>
						</div>
						<div class="col-md pr-4 d-flex topper align-items-center">
							<div class="icon mr-2 d-flex justify-content-center align-items-center">
								<span class="icon-paper-plane"></span>
							</div>
							<span class="text">nikeshop@email.com</span>
						</div>
						<div class="col-md-5 pr-4 d-flex topper align-items-center text-lg-right">
							<span class="text">Trả hàng - Hoàn tiền trong vòng 3 đến 5 ngày</span>
						</div>
						<% if (user.loggedIn == false) { %>
							<div class="col-md pr-4 d-flex topper align-items-center">
								<span class="text"><a href="/login" style="font-weight: 700;">Đăng nhập</a></span>
								<span class="text"><a href="/register" style="font-weight: 700;">Đăng ký</a></span>
							</div>
							<% } %>
					</div>
				</div>
			</div>
		</div>
	</div>
	<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
		<div class="container">
			<a class="navbar-brand" href="index.html"><img src="images/logo.png"
					style="width: 100px; height: 40px;"></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
				aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="oi oi-menu">Trang chủ</span>
			</button>

			<div class="collapse navbar-collapse" id="ftco-nav">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active cta cta-colored"><a href="index.html" class="nav-link">Trang chủ</a></li>
					<li class="nav-item active"><a href="/WebBanGiay/products" class="nav-link">Sản phẩm</a></li>
					<li class="nav-item active"><a href="blog.html" class="nav-link">Blog giày</a></li>
					<li class="nav-item active"><a href="" class="nav-link">Hỗ trợ khách hàng</a></li>
					<li class="nav-item dropdown active">
						<a class="nav-link dropdown-toggle" href="chinhsach_dichvu.html" id="dropdown04"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Chính sách - Dịch vụ</a>
						<div class="dropdown-menu dropdown-menu-l" aria-labelledby="dropdown04">
							<a class="dropdown-item" href="">Chính sách đổi trả</a>
							<a class="dropdown-item" href="">Chính sách bảo hành</a>
							<a class="dropdown-item" href="">Chính sách thanh toán</a>
							<a class="dropdown-item" href="">Chính sách vận chuyển</a>
						</div>
					</li>
					<li class="nav-item"><a href="cart.html" class="nav-link active"><span
								class="icon-shopping_cart"></span>[0]</a></li>
					<% if (user.loggedIn) { %>
						<li class="nav-item dropdown active">
							<a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown"
								aria-haspopup="true" aria-expanded="false">
								<img class="img-avt" src="images/person_2.jpg">
							</a>
							<div class="dropdown-menu" aria-labelledby="dropdown04">
								<a class="dropdown-item" href="">Tài khoản</a>
								<a class="dropdown-item" href="order.html">Đơn mua</a>
								<% if (user.role==='admin' ) { %>
									<a class="dropdown-item" href="/admin">Đi đến trang quản lý</a>
									<% } %>
										<a class="dropdown-item" href="/logout">Đăng xuất</a>
							</div>
						</li>
						<% } %>
				</ul>
			</div>
		</div>
	</nav>

	<!-- END nav -->
	<!--Hết header nè-->

	<section id="home-section" class="hero">
		<div class="home-slider owl-carousel" style="height: fit-content;">
			<div class="slider-item js-fullheight">
				<div class="overlay"></div>
				<div class="container-fluid p-0">
					<div class="row d-md-flex no-gutters slider-text align-items-center justify-content-end"
						data-scrollax-parent="true">
						<img class="one-third order-md-last img-fluid" src="images/product32.png" alt=""
							style="width: 600px; height: min-content;">
						<div class="one-forth d-flex align-items-center ftco-animate"
							data-scrollax=" properties: { translateY: '70%' }">
							<div class="text">
								<span class="subheading">#New Arrival</span>
								<div class="horizontal">
									<h1 class="mb-4 mt-3">Bộ sưu tập giày 2024</h1>
									<p class="mb-4">Mang đến trải nghiệm mua sắm tuyệt vời nhất đến với người tiêu dùng.
									</p>
									<p><a href="#" class="btn-custom">Khám phá ngay</a></p>
								</div>
								<div class="link-other">
									<p>Nền tảng chính thức</p>
									<div class="meta">
										<a href="#"><i class="fa-brands fa-tiktok fa-l"></i></a>
										<a href="#"><i class="fa-brands fa-facebook-f fa-l"></i></i></a>
										<a href="#"><i class="fa-brands fa-instagram fa-l"></i></a>

									</div>
								</div>
							</div>

						</div>

					</div>
				</div>
			</div>

			<div class="slider-item js-fullheight" style="height: fit-content;">
				<div class="overlay"></div>
				<div class="container-fluid p-0">
					<div class="row d-flex no-gutters slider-text align-items-center justify-content-end"
						data-scrollax-parent="true">
						<img class="one-third order-md-last img-fluid" src="images/product72.png" alt=""
							style="width: 600px">
						<div class="one-forth d-flex align-items-center ftco-animate"
							data-scrollax=" properties: { translateY: '70%' }">
							<div class="text">
								<span class="subheading">#New Arrival</span>
								<div class="horizontal">
									<h1 class="mb-4 mt-3">Bộ sưu tập giày mùa đông mới nhất</h1>
									<p class="mb-4">Mang đến trải nghiệm mua sắm tuyệt vời nhất đến với người tiêu dùng.
									</p>
									<p><a href="#" class="btn-custom">Khám phá ngay</a></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="ftco-section ftco-no-pt ftco-no-pb">
		<div class="container">
			<div class="row no-gutters ftco-services">
				<div class="col-lg-4 text-center d-flex align-self-stretch ftco-animate">
					<div class="media block-6 services p-4 py-md-5">
						<div class="icon d-flex justify-content-center align-items-center mb-4">
							<span class="flaticon-bag"></span>
						</div>
						<div class="media-body">
							<h3 class="heading">Miễn phí giao hàng tận nơi</h3>
							<p>Miễn phí giao hàng toàn quốc đối với hóa đơn trên 500.000 VNĐ.</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 text-center d-flex align-self-stretch ftco-animate">
					<div class="media block-6 services p-4 py-md-5">
						<div class="icon d-flex justify-content-center align-items-center mb-4">
							<span class="flaticon-customer-service"></span>
						</div>
						<div class="media-body">
							<h3 class="heading">Hỗ trợ khách hàng</h3>
							<p>Tư vấn miễn phí, nhiệt tình.</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 text-center d-flex align-self-stretch ftco-animate">
					<div class="media block-6 services p-4 py-md-5">
						<div class="icon d-flex justify-content-center align-items-center mb-4">
							<span class="flaticon-payment-security"></span>
						</div>
						<div class="media-body">
							<h3 class="heading">Thanh toán bảo mật</h3>
							<p>Đảm bảo an toàn cho tài khoản thanh toán của bạn.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="ftco-section bg-light">
		<div class="container">
			<div class="row justify-content-center mb-3 pb-3">
				<div class="col-md-12 heading-section text-center ftco-animate">
					<h2 class="mb-4">Sản phẩm nổi bật</h2>
					<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<% if (products && products.length> 0) { %> <!-- Kiểm tra xem có dữ liệu không -->
					<% products.forEach(product=> { %> <!-- Lặp qua danh sách sản phẩm -->
						<div class="col-sm-12 col-md-12 col-lg-4 ftco-animate d-flex">
							<div class="product d-flex flex-column">
								<a href="/product/<%= product._id %>" class="img-prod">
									<img class="img-fluid" src="/images/<%= product.image %>"
										alt="<%= product.productName %>">
									<div class="overlay"></div>
								</a>
								<div class="text py-3 pb-4 px-3">
									<div class="d-flex">
										<div class="cat">
											<span>
												<%= product.category ? product.category.categoryName
													: 'Chưa có danh mục' %>
											</span>
										</div>
										<div class="rating">
											<p class="text-right mb-0">
												<span class="ion-ios-star-outline"></span>
											</p>
										</div>
									</div>
									<h3><a href="/product/<%= product._id %>">
											<%= product.productName %>
										</a></h3>
									<div class="pricing">
										<p class="price"><span>
												<%= product.price.toLocaleString() %> VNĐ
											</span></p>
									</div>
									<p class="bottom-area d-flex px-3">
										<a href="#" class="add-to-cart text-center py-2 mr-1"><span>Thêm vào giỏ hàng<i
													class="ion-ios-add ml-1"></i></span></a>
										<a href="#" class="buy-now text-center py-2">Mua ngay<span><i
													class="ion-ios-cart ml-1"></i></span></a>
									</p>
								</div>
							</div>
						</div>
						<% }) %>
							<% } else { %>
								<p>Không có sản phẩm nào để hiển thị.</p>
								<% } %>
			</div>
		</div>


	</section>



	<section class="ftco-section ftco-choose ftco-no-pb ftco-no-pt">
		<div class="container">
			<div class="row no-gutters">
				<div class="col-lg-4">
					<div class="choose-wrap divider-one img p-5 d-flex align-items-end"
						style="background-image: url(images/choose-1.jpg);">

						<div class="text text-center text-white px-2">
							<span class="subheading">Men's Shoes</span>
							<h2>Bộ sưu tập giày nam</h2>
							<p>Separated they live in Bookmarksgrove right at the coast of the Semantics, a large
								language ocean.</p>
							<p><a href="#" class="btn btn-black px-3 py-2">Mua ngay</a></p>
						</div>
					</div>
				</div>
				<div class="col-lg-8">
					<div class="row no-gutters choose-wrap divider-two align-items-stretch">
						<div class="col-md-12">
							<div class="choose-wrap full-wrap img align-self-stretch d-flex align-item-center justify-content-end"
								style="background-image: url(images/choose-2.jpg);">
								<div class="col-md-7 d-flex align-items-center">
									<div class="text text-white px-5">
										<span class="subheading">Women's Shoes</span>
										<h2>Bộ sưu tập giày nữ</h2>
										<p>Separated they live in Bookmarksgrove right at the coast of the Semantics, a
											large language ocean.</p>
										<p><a href="#" class="btn btn-black px-3 py-2">Mua ngay</a></p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<div class="row no-gutters">
								<div class="col-md-6">
									<div
										class="choose-wrap wrap img align-self-stretch bg-light d-flex align-items-center">
										<div class="text text-center px-5">
											<span class="subheading">Giảm giá mùa hè</span>
											<h2>Giảm giá lên đến 100.000 VNĐ</h2>
											<p>Giảm giá toàn bộ các mặt hàng có tại cửa hàng đối với hóa đơn trên
												1.000.000VNĐ</p>
											<p><a href="#" class="btn btn-black px-3 py-2">Mua ngay</a></p>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="choose-wrap wrap img align-self-stretch d-flex align-items-center"
										style="background-image: url(images/choose-3.jpg);">
										<div class="text text-center text-white px-5">
											<span class="subheading">Shoes</span>
											<h2>Sản phẩm bán chạy nhất</h2>
											<p>Separated they live in Bookmarksgrove right at the coast of the
												Semantics, a large language ocean.</p>
											<p><a href="#" class="btn btn-black px-3 py-2">Mua ngay</a></p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!--Footer nè-->

	<section class="ftco-section testimony-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-5">
					<div class="services-flow">
						<div class="services-2 p-4 d-flex ftco-animate">
							<div class="icon">
								<span class="flaticon-bag"></span>
							</div>
							<div class="text">
								<h3>Miễn phí vận chuyển</h3>
								<p class="mb-0">Miễn phí vận chuyển đối với đơn hàng có hóa đơn trên 500.000 VNĐ</p>
							</div>
						</div>
						<div class="services-2 p-4 d-flex ftco-animate">
							<div class="icon">
								<span class="flaticon-heart-box"></span>
							</div>
							<div class="text">
								<h3>Quà tặng bất ngờ</h3>
								<p class="mb-0">Mỗi đơn hàng sẽ đi kèm một quà tặng bất ngờ.</p>
							</div>
						</div>
						<div class="services-2 p-4 d-flex ftco-animate">
							<div class="icon">
								<span class="flaticon-payment-security"></span>
							</div>
							<div class="text">
								<h3>Thanh toán trực tuyến</h3>
								<p class="mb-0">Thanh toán trực tuyến, bảo mật thông tin.</p>
							</div>
						</div>
						<div class="services-2 p-4 d-flex ftco-animate">
							<div class="icon">
								<span class="flaticon-customer-service"></span>
							</div>
							<div class="text">
								<h3>Hỗ trợ khách hàng</h3>
								<p class="mb-0">Hỗ trợ khách hàng nhanh chóng.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-7">
					<div class="heading-section ftco-animate mb-5">
						<h2 class="mb-4">Đánh giá nổi bật từ khách hàng</h2>
					</div>
					<div class="carousel-testimony owl-carousel">
						<div class="item">
							<div class="testimony-wrap">
								<div class="user-img mb-4" style="background-image: url(images/person_1.jpg)">
									<span class="quote d-flex align-items-center justify-content-center">
										<i class="icon-quote-left"></i>
									</span>
								</div>
								<div class="text">
									<p class="mb-4 pl-4 line">Sản phẩm tuyệt vời. Giao hàng nhanh chóng. Sẽ ủng hộ shop
										lần tới. Đây là một cửa hàng rất đáng để trải nghiệm.</p>
									<p class="name">Hòa Bình</p>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="testimony-wrap">
								<div class="user-img mb-4" style="background-image: url(images/person_2.jpg)">
									<span class="quote d-flex align-items-center justify-content-center">
										<i class="icon-quote-left"></i>
									</span>
								</div>
								<div class="text">
									<p class="mb-4 pl-4 line">Sản phẩm tuyệt vời. Giao hàng nhanh chóng. Sẽ ủng hộ shop
										lần tới. Đây là một cửa hàng rất đáng để trải nghiệm.</p>
									<p class="name">Độc Lập</p>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="testimony-wrap">
								<div class="user-img mb-4" style="background-image: url(images/person_3.jpg)">
									<span class="quote d-flex align-items-center justify-content-center">
										<i class="icon-quote-left"></i>
									</span>
								</div>
								<div class="text">
									<p class="mb-4 pl-4 line">Sản phẩm tuyệt vời. Giao hàng nhanh chóng. Sẽ ủng hộ shop
										lần tới. Đây là một cửa hàng rất đáng để trải nghiệm.</p>
									<p class="name">Tự Do</p>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="testimony-wrap">
								<div class="user-img mb-4" style="background-image: url(images/person_4.jpg)">
									<span class="quote d-flex align-items-center justify-content-center">
										<i class="icon-quote-left"></i>
									</span>
								</div>
								<div class="text">
									<p class="mb-4 pl-4 line">Sản phẩm tuyệt vời. Giao hàng nhanh chóng. Sẽ ủng hộ shop
										lần tới. Đây là một cửa hàng rất đáng để trải nghiệm.</p>
									<p class="name">Hạnh Phúc</p>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="testimony-wrap">
								<div class="user-img mb-4" style="background-image: url(images/person_5.jpg)">
									<span class="quote d-flex align-items-center justify-content-center">
										<i class="icon-quote-left"></i>
									</span>
								</div>
								<div class="text">
									<p class="mb-4 pl-4 line">Sản phẩm tuyệt vời. Giao hàng nhanh chóng. Sẽ ủng hộ shop
										lần tới. Đây là một cửa hàng rất đáng để trải nghiệm.</p>
									<p class="name">Hòa Bình</p>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="ftco-gallery">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-8 heading-section text-center mb-4 ftco-animate">
					<h2 class="mb-4">Theo dõi chúng tôi trên Instagram</h2>
					<p>Mang đến trải nghiệm mua sắm tuyệt vời nhất đến với người tiêu dùng.</p>
				</div>
			</div>
		</div>
		<div class="container-fluid px-0">
			<div class="row no-gutters">
				<div class="col-md-4 col-lg-2 ftco-animate">
					<a href="images/gallery-1.jpg" class="gallery image-popup img d-flex align-items-center"
						style="background-image: url(images/gallery-1.jpg);">
						<div class="icon mb-4 d-flex align-items-center justify-content-center">
							<span class="icon-instagram"></span>
						</div>
					</a>
				</div>
				<div class="col-md-4 col-lg-2 ftco-animate">
					<a href="images/gallery-2.jpg" class="gallery image-popup img d-flex align-items-center"
						style="background-image: url(images/gallery-2.jpg);">
						<div class="icon mb-4 d-flex align-items-center justify-content-center">
							<span class="icon-instagram"></span>
						</div>
					</a>
				</div>
				<div class="col-md-4 col-lg-2 ftco-animate">
					<a href="images/gallery-3.jpg" class="gallery image-popup img d-flex align-items-center"
						style="background-image: url(images/gallery-3.jpg);">
						<div class="icon mb-4 d-flex align-items-center justify-content-center">
							<span class="icon-instagram"></span>
						</div>
					</a>
				</div>
				<div class="col-md-4 col-lg-2 ftco-animate">
					<a href="images/gallery-4.jpg" class="gallery image-popup img d-flex align-items-center"
						style="background-image: url(images/gallery-4.jpg);">
						<div class="icon mb-4 d-flex align-items-center justify-content-center">
							<span class="icon-instagram"></span>
						</div>
					</a>
				</div>
				<div class="col-md-4 col-lg-2 ftco-animate">
					<a href="images/gallery-5.jpg" class="gallery image-popup img d-flex align-items-center"
						style="background-image: url(images/gallery-5.jpg);">
						<div class="icon mb-4 d-flex align-items-center justify-content-center">
							<span class="icon-instagram"></span>
						</div>
					</a>
				</div>
				<div class="col-md-4 col-lg-2 ftco-animate">
					<a href="images/gallery-6.jpg" class="gallery image-popup img d-flex align-items-center"
						style="background-image: url(images/gallery-6.jpg);">
						<div class="icon mb-4 d-flex align-items-center justify-content-center">
							<span class="icon-instagram"></span>
						</div>
					</a>
				</div>
			</div>
		</div>
	</section>

	<footer class="ftco-footer ftco-section">
		<div class="container">
			<div class="row">
				<div class="mouse">
					<a href="#" class="mouse-icon">
						<div class="mouse-wheel"><span class="ion-ios-arrow-up"></span></div>
					</a>
				</div>
			</div>
			<div class="row mb-5">
				<div class="col-md">
					<div class="ftco-footer-widget mb-4">
						<h2 class="ftco-heading-2">Nike</h2>
						<p>Mang đến trải nghiệm mua sắm tuyệt vời nhất đến với người tiêu dùng.</p>
						<ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
							<li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
							<li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
							<li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
						</ul>
					</div>
				</div>
				<div class="col-md">
					<div class="ftco-footer-widget mb-4 ml-md-5">
						<h2 class="ftco-heading-2">Hỗ trợ khách hàng</h2>
						<ul class="list-unstyled">
							<li><a href="#" class="py-2 d-block">Hướng dẫn mua hàng</a></li>
							<li><a href="#" class="py-2 d-block">Giao nhận và thanh toán</a></li>
							<li><a href="#" class="py-2 d-block">Đổi tar và bảo hành</a></li>
							<li><a href="#" class="py-2 d-block">Tra cứu đơn hàng</a></li>
							<li><a href="#" class="py-2 d-block">Đăng ký khách thành viên</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md">
					<div class="ftco-footer-widget mb-4 ml-md-5">
						<h2 class="ftco-heading-2">Chính sách - Dịch vụ</h2>
						<div class="d-flex">
							<ul class="list-unstyled mr-l-5 pr-l-3 mr-4">
								<li><a href="#" class="py-2 d-block">Chăm sóc khách hàng</a></li>
								<li><a href="#" class="py-2 d-block">Chính sách đổi hàng</a></li>
								<li><a href="#" class="py-2 d-block">Chính sách bảo hành</a></li>
								<li><a href="#" class="py-2 d-block">Chính sách thanh toán</a></li>
								<li><a href="#" class="py-2 d-block">Chính sách vận chuyển</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md">
					<div class="ftco-footer-widget mb-4">
						<h2 class="ftco-heading-2">Liên hệ trực tiếp qua</h2>
						<div class="block-23 mb-3">
							<ul>
								<li><span class="icon icon-map-marker"></span><span class="text">!123 Điện Biên Phủ - Đà
										Nẵng</span></li>
								<li><a href="#"><span class="icon icon-phone"></span><span class="text">+12 345 678
											910</span></a></li>
								<li><a href="#"><span class="icon icon-envelope"></span><span
											class="text">minishop@gmail.com</span></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 text-center">

					<p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						Copyright &copy;
						<script>document.write(new Date().getFullYear());</script> All rights reserved | This template
						is made with <i class="icon-heart color-danger" aria-hidden="true"></i> by <a
							href="https://colorlib.com" target="_blank">Colorlib</a>
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
					</p>
				</div>
			</div>
		</div>
	</footer>



	<!-- loader -->
	<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
			<circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
			<circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
				stroke="#F96D00" />
		</svg></div>


	<script src="js/jquery.min.js"></script>
	<script src="js/jquery-migrate-3.0.1.min.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.easing.1.3.js"></script>
	<script src="js/jquery.waypoints.min.js"></script>
	<script src="js/jquery.stellar.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/aos.js"></script>
	<script src="js/jquery.animateNumber.min.js"></script>
	<script src="js/bootstrap-datepicker.js"></script>
	<script src="js/scrollax.min.js"></script>
	<script
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
	<script src="js/google-map.js"></script>
	<script src="js/main.js"></script>

</body>

</html>