<!DOCTYPE html>
<html lang="en">

<head>
	<title>Chi tiết sản phẩm</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">

	<link rel="stylesheet" href="/css/open-iconic-bootstrap.min.css">
	<link rel="stylesheet" href="/css/animate.css">

	<link rel="stylesheet" href="/css/owl.carousel.min.css">
	<link rel="stylesheet" href="/css/owl.theme.default.min.css">
	<link rel="stylesheet" href="/css/magnific-popup.css">

	<link rel="stylesheet" href="/css/aos.css">

	<link rel="stylesheet" href="/css/ionicons.min.css">

	<link rel="stylesheet" href="/css/bootstrap-datepicker.css">
	<link rel="stylesheet" href="/css/jquery.timepicker.css">


	<link rel="stylesheet" href="/css/flaticon.css">
	<link rel="stylesheet" href="/css/icomoon.css">
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/styles.css">
</head>

<body class="goto-here">
	<div class="py-1 bg-black">
		<div class="container">
			<div class="row no-gutters d-flex align-items-start align-items-center px-md-0">
				<div class="col-lg-12 d-block">
					<div class="row d-flex">
						<div class="col-md pr-4 d-flex topper align-items-center">
							<div class="icon mr-2 d-flex justify-content-center align-items-center"><span
									class="icon-phone2"></span></div>
							<span class="text">+ 1235 2355 98</span>
						</div>
						<div class="col-md pr-4 d-flex topper align-items-center">
							<div class="icon mr-2 d-flex justify-content-center align-items-center">
								<span class="icon-paper-plane"></span>
							</div>
							<span class="text">nikeshop@email.com</span>
						</div>
						<div class="col-md-5 pr-4 d-flex topper align-items-center text-lg-right">
							<span class="text">Trả hàng - Hoàn tiền trong vòng 3 đến 5 ngày</span>
						</div>

						<div class="col-md pr-4 d-flex topper align-items-center">
							<span class="text"><a href="#" style="font-weight: 700;">Đăng nhập</a></span>
							<span class="text"><a href="#" style="font-weight: 700;">Đăng ký</a></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
		<div class="container">
			<a class="navbar-brand" href="index.html"><img src="/images/logo.png"
					style="width: 100px; height: 40px;"></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
				aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="oi oi-menu">Trang chủ</span>
			</button>

			<div class="collapse navbar-collapse" id="ftco-nav">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active cta cta-colored"><a href="index.html" class="nav-link">Trang chủ</a></li>
					<li class="nav-item active"><a href="shop.html" class="nav-link">Sản phẩm</a></li>
					<li class="nav-item active"><a href="blog.html" class="nav-link">Blog giày</a></li>
					<li class="nav-item active"><a href="" class="nav-link">Hỗ trợ khách hàng</a></li>
					<li class="nav-item dropdown active">
						<a class="nav-link dropdown-toggle" href="chinhsach_dichvu.html" id="dropdown04" data-toggle="dropdown"
							aria-haspopup="true" aria-expanded="false">Chính sách - Dịch vụ</a>
						<div class="dropdown-menu dropdown-menu-l" aria-labelledby="dropdown04">
							<a class="dropdown-item" href="">Chính sách đổi trả</a>
							<a class="dropdown-item" href="">Chính sách bảo hành</a>
							<a class="dropdown-item" href="">Chính sách thanh toán</a>
							<a class="dropdown-item" href="">Chính sách vận chuyển</a>
						</div>
					<li class="nav-item"><a href="cart.html" class="nav-link active"><span
								class="icon-shopping_cart"></span>[0]</a></li>
					<li class="nav-item dropdown active">
						<a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown"
							aria-haspopup="true" aria-expanded="false"><img class="img-avt"
								src="/images/person_2.jpg"></a>
						<div class="dropdown-menu" aria-labelledby="dropdown04">
							<a class="dropdown-item" href="">Tài khoản</a>
							<a class="dropdown-item" href="order.html">Đơn mua</a>
							<a class="dropdown-item" href="index_admin.html">Đi đến trang quản lý</a>
							<a class="dropdown-item" href="">Đăng xuất</a>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<!-- END nav -->
	<!--Hết header nè-->

	<div class="hero-wrap hero-bread" style="background-image: url('/images/bg_6.jpg');">
		<div class="container">
			<div class="row no-gutters slider-text align-items-center justify-content-center">
				<div class="col-md-9 ftco-animate text-center">
					<p class="breadcrumbs"><span class="mr-2"><a href="index.html">Trang</a></span> <span>chi tiết sản phẩm</span></p>
					<h1 class="mb-0 bread">Sản phẩm</h1>
				</div>
			</div>
		</div>
	</div>

	<section class="ftco-section">
		<div class="container">
			<div class="row">
                <div class="col-lg-6 mb-5 ftco-animate">
                    <a href="/images/<%= product.image %>" class="image-popup prod-img-bg">
                        <img src="/images/<%= product.image %>" class="img-fluid" alt="<%= product.productName %>">
                    </a>
                </div>
                <div class="col-lg-6 product-details pl-md-5 ftco-animate">
                    <h3><%= product.productName %></h3>
                    <div class="rating d-flex">
                        <p class="text-left mr-4">
                            <a href="#" class="mr-2">5.0</a> <!-- Số sao -->
                            <a href="#"><span class="ion-ios-star" style="color: gold;"></span></a>
                            <a href="#"><span class="ion-ios-star" style="color: gold;"></span></a>
                            <a href="#"><span class="ion-ios-star" style="color: gold;"></span></a>
                            <a href="#"><span class="ion-ios-star" style="color: gold;"></span></a>
                            <a href="#"><span class="ion-ios-star" style="color: gold;"></span></a>
                        </p>
                        <p class="text-left mr-4">
                            <a href="#" class="mr-2" style="color: #000;">155 <span style="color: #bbb;">Đánh giá</span></a>
                        </p>
                        <p class="text-left">
                            <a href="#" class="mr-2" style="color: #000;">1544 <span style="color: #bbb;">Đã bán</span></a>
                        </p>
                    </div>
                    <p class="price"><span>Giá bán <%= product.price %> VNĐ</span></p>
                    <p><%= product.description %></p>
                    <div class="row mt-4">
                        <div class="col-md-6">
                            <div class="form-group d-flex">
                                <div class="select-wrap">
                                    <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                                    <select name="size" id="" class="form-control">
                                        <% if (sizes) { %>
                                            <% if (sizes.size35) { %>
                                                <option value="35">Size 35</option>
                                            <% } %>
                                            <% if (sizes.size36) { %>
                                                <option value="36">Size 36</option>
                                            <% } %>
                                            <% if (sizes.size37) { %>
                                                <option value="37">Size 37</option>
                                            <% } %>
                                            <% if (sizes.size38) { %>
                                                <option value="38">Size 38</option>
                                            <% } %>
                                            <% if (sizes.size39) { %>
                                                <option value="39">Size 39</option>
                                            <% } %>
                                            <% if (sizes.size40) { %>
                                                <option value="40">Size 40</option>
                                            <% } %>
                                            <% if (sizes.size41) { %>
                                                <option value="41">Size 41</option>
                                            <% } %>
                                            <% if (sizes.size42) { %>
                                                <option value="42">Size 42</option>
                                            <% } %>
                                            <% if (sizes.size43) { %>
                                                <option value="43">Size 43</option>
                                            <% } %>
                                            <% if (sizes.size44) { %>
                                                <option value="44">Size 44</option>
                                            <% } %>
                                            <% if (sizes.size45) { %>
                                                <option value="45">Size 45</option>
                                            <% } %>
                                        <% } else { %>
                                            <option value="">Hết</option>
                                        <% } %>
                                    </select>
                
                                </div>
                            </div>
                        </div>
                        <div class="w-100"></div>
                        <div class="input-group col-md-6 d-flex mb-3">
                            <span class="input-group-btn mr-2">
                                <button type="button" class="quantity-left-minus btn" data-type="minus" data-field="">
                                    <i class="ion-ios-remove"></i>
                                </button>
                            </span>
                            <input type="text" id="quantity" name="quantity" class="quantity form-control input-number" value="1" min="1" max="100">
                            <span class="input-group-btn ml-2">
                                <button type="button" class="quantity-right-plus btn" data-type="plus" data-field="">
                                    <i class="ion-ios-add"></i>
                                </button>
                            </span>
                        </div>
                        <div class="w-100"></div>
                    </div>
                    <p><b>Số lượng còn: <%= product.quantity %> đôi</b></p> <!-- Số lượng còn trong kho -->
                    <p><a href="/WebBanGiay/cart/add" class="btn btn-black py-3 px-5 mr-2">Thêm vào giỏ hàng</a>
                    <a href="/WebBanGiay/cart/add" class="btn btn-primary py-3 px-5">Mua ngay</a></p>
                </div>
            </div>




			<div class="row mt-5">
				<div class="col-md-12 nav-link-wrap">
					<div class="nav nav-pills d-flex text-center" id="v-pills-tab" role="tablist"
						aria-orientation="vertical">
						<a class="nav-link ftco-animate active mr-lg-1" id="v-pills-1-tab" data-toggle="pill"
							href="#v-pills-1" role="tab" aria-controls="v-pills-1" aria-selected="true">Mô tả</a>

						<a class="nav-link ftco-animate mr-lg-1" id="v-pills-2-tab" data-toggle="pill" href="#v-pills-2"
							role="tab" aria-controls="v-pills-2" aria-selected="false">Hướng dẫn bảo quản</a>

						<a class="nav-link ftco-animate" id="v-pills-3-tab" data-toggle="pill" href="#v-pills-3"
							role="tab" aria-controls="v-pills-3" aria-selected="false">Đánh giá từ khách hàng</a>

					</div>
				</div>
				<div class="col-md-12 tab-wrap">

					<div class="tab-content bg-light" id="v-pills-tabContent">

						<div class="tab-pane fade show active" id="v-pills-1" role="tabpanel"
							aria-labelledby="day-1-tab">
							<div class="p-4">
								<h3 class="mb-4">Nike Free RN 2019 iD</h3>
								<p>Nike là thương hiệu giày thể thao nổi tiếng toàn cầu, được yêu thích bởi thiết kế thời
                                     trang, chất lượng bền bỉ và công nghệ tiên tiến. Các đôi giày Nike thường mang kiểu 
                                     dáng hiện đại, phù hợp cho cả nam và nữ, dễ dàng phối hợp với nhiều phong cách thời 
                                     trang khác nhau, từ năng động, thể thao cho đến casual thường ngày. Không chỉ tập 
                                     trung vào ngoại hình, giày Nike còn được trang bị công nghệ như Air Max hay Flyknit,
                                      mang lại cảm giác êm ái, nhẹ nhàng và thoáng khí khi di chuyển. Nhờ vào sự đa dạng 
                                      trong mẫu mã và tính ứng dụng cao, giày Nike trở thành lựa chọn lý tưởng để sử dụng 
                                      chung, đáp ứng nhu cầu của mọi lứa tuổi và giới tính trong nhiều hoạt động thường ngày.
                                    </p>
							</div>
						</div>

						<div class="tab-pane fade" id="v-pills-2" role="tabpanel" aria-labelledby="v-pills-day-2-tab">
							<div class="p-4">
								<h3 class="mb-4">Sản xuất By Nike</h3>
								<p>Để đôi giày Nike luôn bền đẹp và giữ được form dáng như mới, bạn cần tuân theo các bước bảo quản sau:

                                    - Vệ sinh thường xuyên: Sử dụng khăn mềm hoặc bàn chải lông mềm để lau sạch bụi bẩn. Đối với vết bẩn 
                                    cứng đầu, có thể dùng nước ấm pha xà phòng loãng để làm sạch.
                                    - Hạn chế giặt bằng máy: Không nên cho giày vào máy giặt vì lực quay mạnh có thể làm hỏng chất liệu 
                                    và form giày.
                                    - Phơi giày đúng cách: Sau khi làm sạch, hãy để giày khô tự nhiên trong bóng râm, tránh phơi trực tiếp 
                                    dưới ánh nắng mặt trời vì sẽ làm giày bị bạc màu hoặc nứt chất liệu.
                                    - Giữ form giày: Sử dụng giấy báo hoặc shoe tree nhét vào bên trong để giữ form giày khi không sử dụng.
                                    - Bảo quản nơi khô thoáng: Tránh để giày ở nơi ẩm ướt hoặc gần nguồn nhiệt cao. Nên cất giày trong hộp 
                                    hoặc túi đựng giày chuyên dụng.
                                    - Thực hiện đúng các bước trên sẽ giúp đôi giày Nike của bạn luôn sạch đẹp và kéo dài tuổi thọ sử dụng.</p>
							</div>
						</div>
						<div class="tab-pane fade" id="v-pills-3" role="tabpanel" aria-labelledby="v-pills-day-3-tab">
							<div class="row p-4" style="justify-content: space-around;">
								<div class="col-md-9">
									<h3 class="mb-4">23 đánh giá</h3>
									<div class="review">
										<div class="user-img" style="background-image: url(/images/person_1.jpg)"></div>
										<div class="desc">
											<h4>
												<span class="text-left">Tên khách hàng</span>
												<span class="text-right">14 March 2018</span> <!--Thời gian đánh giá-->
											</h4>
											<p class="star">
												<span>
													<i class="ion-ios-star"></i>	<!-- ion-ios-star là visable còn ion-ios-star-outline là disable -->
													<i class="ion-ios-star"></i>
													<i class="ion-ios-star"></i>
													<i class="ion-ios-star"></i>
													<i class="ion-ios-star-outline"></i>
												</span>
											</p>
											<p>Đánh giá: When she reached the first hills of the Italic Mountains, she
												had a last
												view back on the skyline of her hometown Bookmarksgrov</p>
										</div>
									</div>
									<div class="review">
										<div class="user-img" style="background-image: url(images/person_2.jpg)"></div>
										<div class="desc">
											<h4>
												<span class="text-left">Jacob Webb</span>
												<span class="text-right">14 March 2018</span>
											</h4>
											<p class="star">
												<span>
													<i class="ion-ios-star-outline"></i>
													<i class="ion-ios-star-outline"></i>
													<i class="ion-ios-star-outline"></i>
													<i class="ion-ios-star-outline"></i>
													<i class="ion-ios-star-outline"></i>
												</span>
											</p>
											<p>When she reached the first hills of the Italic Mountains, she had a last
												view back on the skyline of her hometown Bookmarksgrov</p>
										</div>
									</div>
									<div class="review">
										<div class="user-img" style="background-image: url(images/person_3.jpg)"></div>
										<div class="desc">
											<h4>
												<span class="text-left">Jacob Webb</span>
												<span class="text-right">14 March 2018</span>
											</h4>
											<p class="star">
												<span>
													<i class="ion-ios-star-outline"></i>
													<i class="ion-ios-star-outline"></i>
													<i class="ion-ios-star-outline"></i>
													<i class="ion-ios-star-outline"></i>
													<i class="ion-ios-star-outline"></i>
												</span>
											</p>
											<p>When she reached the first hills of the Italic Mountains, she had a last
												view back on the skyline of her hometown Bookmarksgrov</p>
										</div>
									</div>
								</div>
								<div class="col-md-2">
									<div class="rating-wrap">
										<p class="star">
											<span>
												<i class="ion-ios-star"></i>
												<i class="ion-ios-star-outline"></i>
												<i class="ion-ios-star-outline"></i>
												<i class="ion-ios-star-outline"></i>
												<i class="ion-ios-star-outline"></i>
											</span>
											<span>(20)</span>
										</p>
										<p class="star">
											<span>
												<i class="ion-ios-star"></i>
												<i class="ion-ios-star"></i>
												<i class="ion-ios-star-outline"></i>
												<i class="ion-ios-star-outline"></i>
												<i class="ion-ios-star-outline"></i>
											</span>
											<span>(30)</span>
										</p>
										<p class="star">
											<span>
												<i class="ion-ios-star"></i>
												<i class="ion-ios-star"></i>
												<i class="ion-ios-star"></i>
												<i class="ion-ios-star-outline"></i>
												<i class="ion-ios-star-outline"></i>
											</span>
											<span>(66)</span>
										</p>
										<p class="star">
											<span>
												<i class="ion-ios-star"></i>
												<i class="ion-ios-star"></i>
												<i class="ion-ios-star"></i>
												<i class="ion-ios-star"></i>
												<i class="ion-ios-star-outline"></i>
											</span>
											<span>(90)</span>
										</p>
										<p class="star">
											<span>
												<i class="ion-ios-star"></i>
												<i class="ion-ios-star"></i>
												<i class="ion-ios-star"></i>
												<i class="ion-ios-star"></i>
												<i class="ion-ios-star"></i>
											</span>
											<span>(100)</span>
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>


	<footer class="ftco-footer ftco-section">
		<div class="container">
			<div class="row">
				<div class="mouse">
					<a href="#" class="mouse-icon">
						<div class="mouse-wheel"><span class="ion-ios-arrow-up"></span></div>
					</a>
				</div>
			</div>
			<div class="row mb-5">
				<div class="col-md">
					<div class="ftco-footer-widget mb-4">
						<h2 class="ftco-heading-2">Nike</h2>
						<p>Mang đến trải nghiệm mua sắm tuyệt vời nhất đến với người tiêu dùng.</p>
						<ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
							<li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
							<li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
							<li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
						</ul>
					</div>
				</div>
				<div class="col-md">
					<div class="ftco-footer-widget mb-4 ml-md-5">
						<h2 class="ftco-heading-2">Hỗ trợ khách hàng</h2>
						<ul class="list-unstyled">
							<li><a href="#" class="py-2 d-block">Hướng dẫn mua hàng</a></li>
							<li><a href="#" class="py-2 d-block">Giao nhận và thanh toán</a></li>
							<li><a href="#" class="py-2 d-block">Đổi trả và bảo hành</a></li>
							<li><a href="#" class="py-2 d-block">Tra cứu đơn hàng</a></li>
							<li><a href="#" class="py-2 d-block">Đăng ký khách thành viên</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md">
					<div class="ftco-footer-widget mb-4 ml-md-5">
						<h2 class="ftco-heading-2">Chính sách - Dịch vụ</h2>
						<div class="d-flex">
							<ul class="list-unstyled mr-l-5 pr-l-3 mr-4">
								<li><a href="#" class="py-2 d-block">Chăm sóc khách hàng</a></li>
								<li><a href="#" class="py-2 d-block">Chính sách đổi hàng</a></li>
								<li><a href="#" class="py-2 d-block">Chính sách bảo hành</a></li>
								<li><a href="#" class="py-2 d-block">Chính sách thanh toán</a></li>
								<li><a href="#" class="py-2 d-block">Chính sách vận chuyển</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md">
					<div class="ftco-footer-widget mb-4">
						<h2 class="ftco-heading-2">Liên hệ trực tiếp qua</h2>
						<div class="block-23 mb-3">
							<ul>
								<li><span class="icon icon-map-marker"></span><span class="text">!123 Điện Biên Phủ - Đà
										Nẵng</span></li>
								<li><a href="#"><span class="icon icon-phone"></span><span class="text">+12 345 678
											910</span></a></li>
								<li><a href="#"><span class="icon icon-envelope"></span><span
											class="text">minishop@gmail.com</span></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 text-center">

					<p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						Copyright &copy;
						<script>document.write(new Date().getFullYear());</script> All rights reserved | This template
						is made with <i class="icon-heart color-danger" aria-hidden="true"></i> by <a
							href="https://colorlib.com" target="_blank">Colorlib</a>
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
					</p>
				</div>
			</div>
		</div>
	</footer>



	<!-- loader -->
	<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
			<circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
			<circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
				stroke="#F96D00" />
		</svg></div>


	<script src="/js/jquery.min.js"></script>
	<script src="/js/jquery-migrate-3.0.1.min.js"></script>
	<script src="/js/popper.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/jquery.easing.1.3.js"></script>
	<script src="/js/jquery.waypoints.min.js"></script>
	<script src="/js/jquery.stellar.min.js"></script>
	<script src="/js/owl.carousel.min.js"></script>
	<script src="/js/jquery.magnific-popup.min.js"></script>
	<script src="/js/aos.js"></script>
	<script src="/js/jquery.animateNumber.min.js"></script>
	<script src="/js/bootstrap-datepicker.js"></script>
	<script src="/js/scrollax.min.js"></script>
	<script
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
	<script src="/js/google-map.js"></script>
	<script src="/js/main.js"></script>

	<script>
		$(document).ready(function () {

			var quantitiy = 0;
			$('.quantity-right-plus').click(function (e) {

				// Stop acting like a button
				e.preventDefault();
				// Get the field name
				var quantity = parseInt($('#quantity').val());

				// If is not undefined

				$('#quantity').val(quantity + 1);


				// Increment

			});

			$('.quantity-left-minus').click(function (e) {
				// Stop acting like a button
				e.preventDefault();
				// Get the field name
				var quantity = parseInt($('#quantity').val());

				// If is not undefined

				// Increment
				if (quantity > 0) {
					$('#quantity').val(quantity - 1);
				}
			});

		});
	</script>

</body>

</html>